<?xml version="1.0"?>
<model>
  <name>hyp_model_tri_downcams</name>
  <version>1.0</version>
  <sdf version='1.6'>hyp_model_tri_downcams.sdf</sdf>

  <author>
   <name>thuanvo</name>
   <email>thuanvo@hypmotion.com</email>
  </author>

  <description>
    Common camera model.
  </description>
</model>
