<?xml version="1.0"?>
<model>
  <name>hyp_only_lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>hyp_only_lidar.sdf</sdf>

  <author>
    <name>Engineer@hypmotion.com</name>
    <email>engineer@hypmotion.com</email>
  </author>

  <description>
    Hyp motion only setup lidar modify from base iris.
  </description>
</model>
